{
  "openapi": "3.0.0",
  "info": {
    "title": "Loyalty.lt Shop API",
    "description": "REST API for awarding loyalty points, managing cards, coupons and games from an e-commerce platform or POS. Every path is locale-prefixed with `lt` or `en`.",
    "contact": {
      "name": "API Support",
      "email": "info@loyalty.lt"
    },
    "license": {
      "name": "API License",
      "url": "https://www.loyalty.lt"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.loyalty.lt",
      "description": "Production"
    },
    {
      "url": "https://staging-api.loyalty.lt",
      "description": "Staging"
    }
  ],
  "paths": {
    "/{locale}/shop/auth/qr-login/generate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate QR Login Session",
        "description": "Generate a QR code session for authentication",
        "operationId": "shopgenerateQrLogin",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "device_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "My Desktop"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR login session generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "session_id": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "qr_code": {
                          "type": "string",
                          "example": "abcd1234efgh5678"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate QR login"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/auth/qr-login/poll/{sessionId}": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Poll QR Login Status",
        "description": "Poll the status of a QR login session",
        "operationId": "shoppollQrLogin",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "The ID of the QR login session",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR login status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "session_id": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "scanned",
                            "confirmed"
                          ],
                          "example": "pending"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "QR session not found or expired"
          },
          "500": {
            "description": "Failed to poll QR login"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Current User",
        "description": "Get the authenticated user's details",
        "operationId": "shopme",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "phone": {
                          "type": "string",
                          "example": "+37060000000"
                        },
                        "email": {
                          "type": "string",
                          "example": "user@example.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "role": {
                          "type": "string",
                          "example": "member"
                        },
                        "email_verified_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "phone_verified_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "500": {
            "description": "Failed to get user info"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{locale}/shop/auth/send-app-link": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send the mobile app download link by SMS",
        "description": "Texts the customer a link to install the Loyalty.lt app. Use it when someone at the till has no app yet and cannot complete QR login.",
        "operationId": "postShopAuthSendAppLink",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "description": "Phone number in E.164 format.",
                    "type": "string",
                    "example": "+37060000001"
                  },
                  "shop_id": {
                    "description": "Shop making the request.",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/verify": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Verify a coupon code",
        "description": "Checks whether a coupon code is valid and redeemable at the given shop. Call this before applying a discount at the till.",
        "operationId": "postShopCouponsVerify",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "coupon_code",
                  "shop_id"
                ],
                "properties": {
                  "coupon_code": {
                    "description": "Coupon code presented by the customer.",
                    "type": "string",
                    "example": "SAVE20"
                  },
                  "shop_id": {
                    "description": "Shop where the coupon is being used.",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/redeem": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Redeem a coupon",
        "description": "Marks a coupon as used. Redemption is final.",
        "operationId": "postShopCouponsRedeem",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "coupon_id",
                  "shop_id"
                ],
                "properties": {
                  "coupon_id": {
                    "description": "Coupon ID returned by coupons/verify.",
                    "type": "integer",
                    "example": 77
                  },
                  "shop_id": {
                    "description": "Shop where the coupon is redeemed.",
                    "type": "integer",
                    "example": 1
                  },
                  "selected_product_id": {
                    "description": "Product the customer chose, for product-specific coupons.",
                    "type": "integer",
                    "example": 12
                  },
                  "notes": {
                    "description": "Free-text note stored with the redemption.",
                    "type": "string",
                    "example": "Redeemed at till 3"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon redeemed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/pending": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Hold a coupon during checkout",
        "description": "Marks a coupon as pending so it cannot be used elsewhere while the sale completes. Finish with coupons/redeem or undo with coupons/cancel-pending.",
        "operationId": "postShopCouponsPending",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "coupon_id",
                  "shop_id"
                ],
                "properties": {
                  "coupon_id": {
                    "description": "Coupon ID.",
                    "type": "integer",
                    "example": 77
                  },
                  "shop_id": {
                    "description": "Shop holding the coupon.",
                    "type": "integer",
                    "example": 1
                  },
                  "selected_product_id": {
                    "description": "Product the customer chose, for product-specific coupons.",
                    "type": "integer",
                    "example": 12
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon set to pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/cancel-pending": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Release a pending coupon",
        "description": "Returns a pending coupon to active state.",
        "operationId": "postShopCouponsCancelPending",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "coupon_id",
                  "shop_id"
                ],
                "properties": {
                  "coupon_id": {
                    "description": "Coupon ID.",
                    "type": "integer",
                    "example": 77
                  },
                  "shop_id": {
                    "description": "Shop holding the coupon.",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pending state cleared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "List coupons",
        "description": "Returns the coupons issued for a shop, optionally filtered by customer, card or status.",
        "operationId": "getShopCoupons",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "shop_id",
            "in": "query",
            "description": "Shop to list coupons for.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by customer.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "name": "card_id",
            "in": "query",
            "description": "Filter by loyalty card.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 45
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by state. Defaults to active.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "used",
                "expired",
                "all"
              ],
              "example": "active"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page, max 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated coupon list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/card": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Get a customer's coupons",
        "description": "Returns the coupons available to one customer at a shop. Identify the customer by card_id or user_id.",
        "operationId": "getShopCouponsCard",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "shop_id",
            "in": "query",
            "description": "Shop to list coupons for.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "card_id",
            "in": "query",
            "description": "Loyalty card ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 45
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Customer user ID.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer's coupons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/products": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "List products a coupon applies to",
        "description": "Returns the products a product-specific coupon can be redeemed against.",
        "operationId": "getShopCouponsProducts",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "coupon_id",
            "in": "query",
            "description": "Coupon ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 77
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eligible products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/coupons/calculate-discount": {
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Calculate a coupon discount",
        "description": "Returns the discount amount a coupon produces for a given purchase total, without redeeming it.",
        "operationId": "postShopCouponsCalculateDiscount",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "coupon_code",
                  "purchase_amount"
                ],
                "properties": {
                  "coupon_code": {
                    "description": "Coupon code.",
                    "type": "string",
                    "example": "SAVE20"
                  },
                  "purchase_amount": {
                    "description": "Purchase total the discount applies to.",
                    "type": "number",
                    "example": 50
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculated discount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "List Available Games",
        "description": "Get a paginated list of available games with filtering options",
        "operationId": "shopListGames",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by game type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "slot_machine",
                "wheel_of_fortune",
                "scratch_card",
                "memory",
                "quiz",
                "puzzle"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by game category",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_featured",
            "in": "query",
            "description": "Filter by featured status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "playable_only",
            "in": "query",
            "description": "Show only games user can currently play",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by game name or description",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Games retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "example": "Wheel of Fortune"
                              },
                              "type": {
                                "type": "string",
                                "example": "wheel_of_fortune"
                              },
                              "description": {
                                "type": "string",
                                "example": "Spin the wheel to win prizes"
                              },
                              "is_active": {
                                "type": "boolean",
                                "example": true
                              },
                              "is_featured": {
                                "type": "boolean",
                                "example": false
                              },
                              "points_cost": {
                                "type": "integer",
                                "example": 100
                              },
                              "daily_limit": {
                                "type": "integer",
                                "example": 5
                              },
                              "can_play": {
                                "type": "boolean",
                                "example": true
                              },
                              "play_restriction": {
                                "type": "string",
                                "example": null
                              }
                            },
                            "type": "object"
                          }
                        },
                        "meta": {
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games/{id}": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Get Single Game Details",
        "description": "Get detailed information for a specific game",
        "operationId": "shopGetGame",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Game ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "example": "Wheel of Fortune"
                        },
                        "type": {
                          "type": "string",
                          "example": "wheel_of_fortune"
                        },
                        "description": {
                          "type": "string",
                          "example": "Spin the wheel to win prizes"
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "is_featured": {
                          "type": "boolean",
                          "example": false
                        },
                        "points_cost": {
                          "type": "integer",
                          "example": 100
                        },
                        "daily_limit": {
                          "type": "integer",
                          "example": 5
                        },
                        "can_play": {
                          "type": "boolean",
                          "example": true
                        },
                        "play_restriction": {
                          "type": "string",
                          "example": null
                        },
                        "user_history": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "status": {
                                "type": "string",
                                "example": "completed"
                              },
                              "score": {
                                "type": "integer",
                                "example": 1000
                              },
                              "reward_claimed": {
                                "type": "boolean",
                                "example": false
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2023-10-27T10:00:00Z"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "today_play_count": {
                          "type": "integer",
                          "example": 3
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Game not found"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games/{id}/add-stamps": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Add stamps to a stamp card",
        "description": "Adds stamps to a customer's stamp card. When the card fills up, the reward is issued automatically.",
        "operationId": "postShopGamesByIdAddStamps",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Game ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "card_id",
                  "shop_id"
                ],
                "properties": {
                  "card_id": {
                    "description": "Loyalty card to stamp.",
                    "type": "integer",
                    "example": 45
                  },
                  "shop_id": {
                    "description": "Shop issuing the stamps.",
                    "type": "integer",
                    "example": 1
                  },
                  "stamps_count": {
                    "description": "Stamps to add, 1-100. Defaults to 1.",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stamps added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games/{id}/progress": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Get a customer's game progress",
        "description": "Returns how far a customer has got in one game.",
        "operationId": "getShopGamesByIdProgress",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Game ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "card_id",
            "in": "query",
            "description": "Loyalty card ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 45
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games/{id}/complete": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Complete a stamp card",
        "description": "Closes a filled stamp card and issues its reward.",
        "operationId": "postShopGamesByIdComplete",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Game ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "card_id"
                ],
                "properties": {
                  "card_id": {
                    "description": "Loyalty card ID.",
                    "type": "integer",
                    "example": 45
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card completed and reward issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/games/{id}/restart": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Restart a game",
        "description": "Starts a fresh round for a customer after the previous one finished.",
        "operationId": "postShopGamesByIdRestart",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Game ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "card_id",
                  "shop_id"
                ],
                "properties": {
                  "card_id": {
                    "description": "Loyalty card ID.",
                    "type": "integer",
                    "example": 45
                  },
                  "shop_id": {
                    "description": "Shop running the game.",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/cards/{cardId}/games": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "List a customer's active games",
        "description": "Returns every game a loyalty card is currently taking part in, with progress.",
        "operationId": "getShopCardsByCardIdGames",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "Loyalty card ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 45
            }
          },
          {
            "name": "shop_id",
            "in": "query",
            "description": "Limit to one shop.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active games with progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/cards/{cardId}/games/history": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Get a customer's game history",
        "description": "Returns finished game rounds for a loyalty card.",
        "operationId": "getShopCardsByCardIdGamesHistory",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ],
              "example": "lt"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "Loyalty card ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 45
            }
          },
          {
            "name": "shop_id",
            "in": "query",
            "description": "Limit to one shop.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed rounds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API credentials"
          },
          "422": {
            "description": "Validation failed"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/loyalty-cards": {
      "get": {
        "tags": [
          "Loyalty Cards"
        ],
        "summary": "Get partner's loyalty cards",
        "description": "Returns paginated list of loyalty cards for the authenticated partner",
        "operationId": "getShopLoyaltyCards",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 15
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "card_type",
            "in": "query",
            "description": "Filter by card type",
            "required": false,
            "schema": {
              "type": "string",
              "example": "standard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loyalty Cards"
        ],
        "summary": "Create Loyalty Card",
        "description": "Create a new loyalty card for the authenticated user",
        "operationId": "shopCreateLoyaltyCard",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "card_name": {
                    "description": "Custom name for the card",
                    "type": "string",
                    "example": "My Store Card"
                  },
                  "card_type": {
                    "type": "string",
                    "enum": [
                      "universal",
                      "partner_specific"
                    ],
                    "example": "universal"
                  },
                  "barcode_type": {
                    "type": "string",
                    "enum": [
                      "QR",
                      "EAN13",
                      "CODE128",
                      "NFC"
                    ],
                    "example": "QR"
                  },
                  "partner_id": {
                    "description": "Partner ID (required for partner_specific cards)",
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loyalty card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Loyalty card created successfully"
                    },
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 2
                        },
                        "card_number": {
                          "type": "string",
                          "example": "LC00000002"
                        },
                        "card_name": {
                          "type": "string",
                          "example": "My Store Card"
                        },
                        "qr_code": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440001"
                        },
                        "barcode_type": {
                          "type": "string",
                          "example": "QR"
                        },
                        "card_type": {
                          "type": "string",
                          "example": "universal"
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "points_balance": {
                          "type": "integer",
                          "example": 0
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
                      "example": 201
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{locale}/shop/loyalty-cards/{id}": {
      "get": {
        "tags": [
          "Loyalty Cards"
        ],
        "summary": "Get Loyalty Card Details",
        "description": "Get detailed information about a specific loyalty card",
        "operationId": "shopGetLoyaltyCard",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Loyalty card ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loyalty card details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "user_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "card_number": {
                          "type": "string",
                          "example": "LC00000001"
                        },
                        "card_name": {
                          "type": "string",
                          "example": "My Loyalty Card"
                        },
                        "qr_code": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "barcode_type": {
                          "type": "string",
                          "example": "QR"
                        },
                        "card_type": {
                          "type": "string",
                          "example": "universal"
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "points_balance": {
                          "type": "integer",
                          "example": 1250
                        },
                        "points_history": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "type": {
                                "type": "string",
                                "example": "earned"
                              },
                              "points": {
                                "type": "integer",
                                "example": 100
                              },
                              "description": {
                                "type": "string",
                                "example": "Purchase at Partner Store"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "partner": {
                          "type": "object",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Loyalty card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/loyalty-cards/info": {
      "get": {
        "tags": [
          "Loyalty Cards"
        ],
        "summary": "Get loyalty card info by number or ID",
        "description": "Get loyalty card details including points balance. Requires partner API authentication.",
        "operationId": "getShopLoyaltyCardsInfo",
        "parameters": [
          {
            "name": "card_id",
            "in": "query",
            "description": "Loyalty card ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_number",
            "in": "query",
            "description": "Loyalty card number or QR code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID to find their card",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card info retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Card not found"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/loyalty-cards/balance": {
      "get": {
        "tags": [
          "Loyalty Cards"
        ],
        "summary": "Get loyalty card points balance",
        "description": "Get only the points balance for a loyalty card. Lightweight endpoint for quick balance checks.",
        "operationId": "getShopLoyaltyCardsBalance",
        "parameters": [
          {
            "name": "card_id",
            "in": "query",
            "description": "Loyalty card ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_number",
            "in": "query",
            "description": "Loyalty card number or QR code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID to find their card",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Card not found"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/offers": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "List Available Offers",
        "description": "Get a paginated list of available offers for the user",
        "operationId": "shopListOffers",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "example": 15
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "Filter by partner",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "title": {
                            "type": "string",
                            "example": "20% off all items"
                          },
                          "description": {
                            "type": "string",
                            "example": "Get 20% discount on all items in store"
                          },
                          "discount_type": {
                            "type": "string",
                            "example": "percentage"
                          },
                          "discount_value": {
                            "type": "number",
                            "example": 20
                          },
                          "minimum_points": {
                            "type": "integer",
                            "example": 100
                          },
                          "maximum_uses": {
                            "type": "integer",
                            "example": 1000
                          },
                          "used_count": {
                            "type": "integer",
                            "example": 350
                          },
                          "category": {
                            "type": "string",
                            "example": "retail"
                          },
                          "is_active": {
                            "type": "boolean",
                            "example": true
                          },
                          "starts_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "partner": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "example": "Partner Store"
                              },
                              "logo_url": {
                                "type": "string",
                                "example": "https://example.com/logo.png"
                              }
                            },
                            "type": "object"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 5
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "total": {
                          "type": "integer",
                          "example": 68
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/offers/{id}": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Get Offer Details",
        "description": "Get detailed information about a specific offer",
        "operationId": "shopGetOffer",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Offer ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "title": {
                          "type": "string",
                          "example": "20% off all items"
                        },
                        "description": {
                          "type": "string",
                          "example": "Get 20% discount on all items in store"
                        },
                        "terms_and_conditions": {
                          "type": "string",
                          "example": "Valid for in-store purchases only"
                        },
                        "discount_type": {
                          "type": "string",
                          "example": "percentage"
                        },
                        "discount_value": {
                          "type": "number",
                          "example": 20
                        },
                        "minimum_points": {
                          "type": "integer",
                          "example": 100
                        },
                        "maximum_uses": {
                          "type": "integer",
                          "example": 1000
                        },
                        "used_count": {
                          "type": "integer",
                          "example": 350
                        },
                        "user_claimed_count": {
                          "type": "integer",
                          "example": 2
                        },
                        "category": {
                          "type": "string",
                          "example": "retail"
                        },
                        "image_url": {
                          "type": "string",
                          "example": "https://example.com/offer.jpg"
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "starts_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "partner": {
                          "type": "object"
                        },
                        "user_can_claim": {
                          "type": "boolean",
                          "example": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/points": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List Point Transactions",
        "description": "Get a paginated list of user's point transactions",
        "operationId": "shopListPointTransactions",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "example": 15
            }
          },
          {
            "name": "card_id",
            "in": "query",
            "description": "Filter by specific loyalty card",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by transaction type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "earned",
                "spent",
                "bonus",
                "expired",
                "refund"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter transactions from date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-01"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter transactions to date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Point transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "loyalty_card_id": {
                            "type": "integer",
                            "example": 1
                          },
                          "points": {
                            "type": "integer",
                            "example": 100
                          },
                          "type": {
                            "type": "string",
                            "example": "earned"
                          },
                          "description": {
                            "type": "string",
                            "example": "Purchase at Partner Store"
                          },
                          "reference_id": {
                            "type": "string",
                            "example": "ORDER-123456"
                          },
                          "card": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "card_name": {
                                "type": "string",
                                "example": "My Loyalty Card"
                              },
                              "card_number": {
                                "type": "string",
                                "example": "LC00000001"
                              }
                            },
                            "type": "object"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 5
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "total": {
                          "type": "integer",
                          "example": 68
                        },
                        "total_points_earned": {
                          "type": "integer",
                          "example": 2500
                        },
                        "total_points_spent": {
                          "type": "integer",
                          "example": 1250
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{locale}/shop/products/categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get all product categories for mapping",
        "description": "Returns all active product categories that can be used for WooCommerce → Loyalty.lt category mapping",
        "operationId": "getShopProductsCategories",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lt",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "parent_id": {
                            "type": "integer",
                            "nullable": true
                          },
                          "children": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/products/sync-status": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product sync status",
        "description": "Returns statistics about synced products for the partner",
        "operationId": "getShopProductsSyncStatus",
        "responses": {
          "200": {
            "description": "Sync status retrieved"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/qr-card/generate": {
      "post": {
        "tags": [
          "QR Card Scan"
        ],
        "summary": "Generate QR Card Scan Session",
        "description": "Generate a QR code session for customer card identification. POS listens on the public realtime channel 'qr-card.{session_id}' for card data.",
        "operationId": "generateQrCardSession",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "lt"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "device_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "POS Terminal 1"
                  },
                  "shop_id": {
                    "type": "integer",
                    "example": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR card session generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "session_id": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "qr_code": {
                          "type": "string",
                          "example": "loyaltylt://qr-card?code=abcd1234&session=550e8400..."
                        },
                        "realtime_channel": {
                          "type": "string",
                          "example": "qr-card.550e8400-e29b-41d4-a716-446655440000"
                        },
                        "partner_name": {
                          "type": "string",
                          "example": "Partner Name"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Partner not authenticated"
          },
          "500": {
            "description": "Failed to generate QR session"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/qr-card/status/{sessionId}": {
      "get": {
        "tags": [
          "QR Card Scan"
        ],
        "summary": "Poll QR Card Session Status",
        "description": "Poll the status of a QR card scan session (fallback if the socket is unavailable)",
        "operationId": "pollQrCardStatus",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "lt"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "properties": {
                        "session_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "authenticated",
                            "expired"
                          ]
                        },
                        "card_data": {
                          "type": "object",
                          "nullable": true
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Session not found or expired"
          }
        },
        "security": [
          {
            "apiKey": [],
            "apiSecret": []
          }
        ]
      }
    },
    "/{locale}/shop/shops": {
      "get": {
        "tags": [
          "Shops"
        ],
        "summary": "List Shops",
        "description": "Get a paginated list of shops",
        "operationId": "shopListShops",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Locale code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "example": 15
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by shop name or address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude for location-based search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude for location-based search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in kilometers",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shops retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "Downtown Store"
                          },
                          "address": {
                            "type": "string",
                            "example": "123 Main St, City"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+370 37 282595"
                          },
                          "email": {
                            "type": "string",
                            "example": "shop@example.com"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://shop.example.com"
                          },
                          "description": {
                            "type": "string",
                            "example": "Our main downtown location"
                          },
                          "opening_hours": {
                            "type": "string",
                            "example": "Mon-Fri: 9:00-18:00"
                          },
                          "coordinates": {
                            "properties": {
                              "latitude": {
                                "type": "number",
                                "example": 54.8985
                              },
                              "longitude": {
                                "type": "number",
                                "example": 23.9036
                              }
                            },
                            "type": "object"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "is_active": {
                            "type": "boolean",
                            "example": true
                          },
                          "partner": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "example": "Partner Name"
                              }
                            },
                            "type": "object"
                          },
                          "distance": {
                            "description": "Distance in km if location search",
                            "type": "number",
                            "example": 2.5
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "meta": {
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 5
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "total": {
                          "type": "integer",
                          "example": 68
                        }
                      },
                      "type": "object"
                    },
                    "code": {
                      "type": "integer",
[...]
